apiVersion: v1
kind: Secret
metadata:
  name: qdrant-api-key
  namespace: rag
type: Opaque
stringData:
  apiKey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3MiOiJtIn0.II_Y19M_QxoUWGqhMcjtR9eqfPkCzJUvYW50WIjxcjc"
