apiVersion: v1
kind: Service
metadata:
  name: supabase-kong
  namespace: rag
spec:
  type: ClusterIP
  ports:
    - port: 8000
      targetPort: 8000
      protocol: TCP
      name: proxy
    - name: admin
      port: 8001
      targetPort: 8001
  selector:
    app: supabase-kong
---
apiVersion: v1
kind: Service
metadata:
  name: supabase-studio
  namespace: rag
spec:
  type: LoadBalancer
  ports:
    - port: 5000
      targetPort: 3000
      protocol: TCP
  selector:
    app: supabase-studio
---
apiVersion: v1
kind: Service
metadata:
  name: meta
  namespace: rag
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    app: supabase-meta
---
apiVersion: v1
kind: Service
metadata:
  name: supabase-auth
  namespace: rag
spec:
  type: ClusterIP
  ports:
    - port: 9999
      targetPort: 8081
      protocol: TCP
  selector:
    app: supabase-auth
---
apiVersion: v1
kind: Service
metadata:
  name: supabase-rest
  namespace: rag
spec:
  type: ClusterIP
  ports:
    - port: 3000
      targetPort: 3000
      protocol: TCP
  selector:
    app: supabase-rest
---
apiVersion: v1
kind: Service
metadata:
  name: supabase-realtime
  namespace: rag
spec:
  type: ClusterIP
  ports:
    - port: 4000
      targetPort: 4000
      protocol: TCP
  selector:
    app: supabase-realtime
